@model Sehmus.UI.Areas.Admin.Models.ForgetPasswordViewModel 
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br />
    <h2>Şifre Yenilemek için Link Görnderme Sayfası</h2>

    <div id="passwordResetForm" @(ViewBag.MessageSent != null && (bool)ViewBag.MessageSent ? "style='display:none;'" : "")>
        <form method="post" asp-action="ForgetPassword" onsubmit="return validateForm()">
            <label>Mail Adresinizi Giriniz</label>
            <input type="text" class="form-control" asp-for="Mail" id="emailInput" />
            <br />
            <button type="submit" class="btn btn-primary">Şifre Yenileme Linki Gönder</button>
        </form>
    </div>

    @if (ViewBag.MessageSent != null && (bool)ViewBag.MessageSent)
    {
        <div class="alert alert-success">
            Link maile başarıyla gönderildi.
        </div>
    }


</div>
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage2))
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage2
    </div>
}

<script>
    function validateForm() {
        var emailInput = document.getElementById("emailInput").value;

        if (emailInput.trim() === "") {
            showAlert("Lütfen bir mail adresi girin.", false); // false parametresiyle close butonunu gizle
            return false; // Formun gönderilmesini engelle
        }

        return true; // Formu gönder
    }

    function showAlert(message, showCloseButton = true) {
        var alertDiv = document.createElement("div");
        alertDiv.className = "alert alert-danger alert-dismissible fade show";
        alertDiv.setAttribute("role", "alert");

        var closeButtonHtml = showCloseButton ?
            '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
            '<span aria-hidden="true">&times;</span></button>' : '';

        alertDiv.innerHTML = '<strong>Lütfen dikkat!</strong> ' + message + closeButtonHtml;

        var container = document.querySelector(".container");
        container.insertBefore(alertDiv, container.firstChild);

        // Otomatik kapatma işlemi
        setTimeout(function () {
            alertDiv.classList.add("fade");
            alertDiv.classList.remove("show");
            setTimeout(function () {
                alertDiv.remove();
            }, 200);
        }, 5000); // 5000 milisaniye (5 saniye) sonra otomatik kapat
    }
</script>

